@font-face {
    font-family: "Roboto-Light";
    src: url("font/Roboto-Light.ttf") format("truetype");
    font-size: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("font/Roboto-Bold.ttf") format("truetype");
    font-size: normal;
    font-weight: 300;
}
.container
{
    width:  100%;
    max-width: 1280 px;
    font-size: 16px;
    font-family: "Roboto-Bold";
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.menu{
    width: 100%;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 70px; 
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;   
}

.menu-item{
    text-decoration: none;
    color: #19ac8f;
}
menu-item:visited {color: #19ac8f;}

.main-block{
    background-color: #f5f6f7;
    padding-left: 120px;
    padding-right: 120px;
}
.sleider{
    width: 100%;
    height: auto;
    
}
h1{
    margin-top: 50px;
    margin-bottom: 33px;
    font-size: 16px;
    letter-spacing: 2px;
}
.text-block{
    font-family: "Roboto-Light";
    text-align: center;
    line-height: 16px;
    margin-bottom: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    
}
button{
    width: 100%;
    max-width: 190px;
    height: 50px;
    background-color: #19ac8f;
    color: white;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 11px;
    margin-bottom: 94px;
}
.footermenu{
    text-align: right;
    margin-bottom: 40px;
}
.copiright{
    margin-top: 50px;
    letter-spacing: 3px;
    margin-right: 115px;
}